<div class="w3-bar">
	<div class="w3-bar-item">
		<h3><b>Requirement Logs</b></h3>
	</div>
	<div class="w3-bar-item w3-right">
		<img routerLink="/CharityProfile" src="../../assets/img/profile.png" height="80px" />
	</div>
</div>
<!-- Food Requirement Log-->
<div class="w3-container w3-padding" style="margin: 10px">

	<!-- Single Requirement Log -->
	<div class=" w3-card-4 row w3-padding" style="margin-top: 20px">
		<div class="col-md-6">
			<label><b><u>Requirement Details</u></b></label>
			<table class="w3-table-all">
				<tr>
					<th>Request Time</th>
					<td>26/06/2019 08:30 AM</td>
				</tr>
				<tr>
					<th>Required</th>
					<td>26/06/2019 06:40 PM</td>
				</tr>
				<tr>
					<th>Total Quantity</th>
					<td>100 [Units]</td>
				</tr>
				<tr>
					<th>Veg</th>
					<td>75 [Units]</td>
				</tr>
				<tr>
					<th>Non-Veg</th>
					<td>25 [Units]</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<label><b><u>Process Details</u></b></label>
			<table class="w3-table-all">
				<tr>
					<th>Expected Deliver Time Time</th>
					<td>26/06/2019 08:30 AM</td>
				</tr>
				<tr>
					<th>Assigned Delivery Agent</th>
					<td>Ashutosh Khamari<br />+91-143</td>
				</tr>
				<tr>
					<th>Status</th>
					<td>
						<select class="form-control">
							<option>Requested</option>
							<option>Accepted</option>
							<option>Delivered</option>
						</select>
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<button class="w3-btn w3-small w3-round w3-orange">Delivered</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- End Of Single Requirement Log-->