    <!-- Header Image -->
     <div style="width: 100%" >
        <img src="assets/img/3.jpg" style="opacity: 0.6;min-height: 300px" width="100%">
        <div class="w3-center w3-hide-small w3-hide-medium" style="position: absolute;margin-top: -250px;margin-left: 25%;">
          <label class="heading" style="text-shadow: 2px 2px #ffffff;font-size: 50px;color: #0277BD;"><b>Look What We Can Do Together...</b></label><br><br>
          <button routerLink="/SignUp" class="btn btn-dark w3-large" style="width: 250px;"><img src="assets/img/donate.png" width="40px" height="40px" /> Want To Donate?</button>  
          <button class="btn btn-success w3-large" data-toggle="modal" data-target="#wantFoodModal" style="width: 250px;"><img src="assets/img/want.png" width="40px" height="40px" /> Want Food?</button>
        </div>
        <div class="w3-hide-large w3-hide-medium" style="margin-top: -50%;position: absolute;text-align:center;z-index: 10;">
            <label class="heading" style="text-shadow: 2px 2px #ffffff;font-size: 25px;color: #0277BD;"><b>Look What We Can Do Together...</b></label>
            <button routerLink="/SignUp" class="btn btn-dark w3-large"><img src="assets/img/donate.png" width="20px" height="20px" /> Want To Donate?</button>  
            <button class="btn btn-success w3-large" data-toggle="modal" data-target="#wantFoodModal"><img src="assets/img/want.png" width="20px" height="20px" /> Want Food?</button>
         </div>
         <div class="w3-hide-large w3-hide-small" style="margin-top: -30%;position: absolute;text-align:center;z-index: 10;margin-left: 15%">
            <label class="heading" style="text-shadow: 2px 2px #ffffff;font-size: 35px;color: #0277BD;"><b>Look What We Can Do Together...</b></label>
            <br/>
            <button routerLink="/SignUp" class="btn btn-dark w3-large"><img src="assets/img/donate.png" width="20px" height="20px" /> Want To Donate?</button>  
            <button class="btn btn-success w3-large" data-toggle="modal" data-target="#wantFoodModal"><img src="assets/img/want.png" width="20px" height="20px" /> Want Food?</button>
         </div>
      </div>  

  <!-- Image Slider -->
  <br><h1 class="text-dark heading w3-center">Restaurants</h1><br>
  <div id="demo" class="carousel slide" data-interval="false" data-ride="carousel">

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img4.jpeg" width="100%"  style="max-height:180px" >
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img2.jpg" width="100%"  style="max-height:180px" >
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img3.jpg" width="100%"  style="max-height:180px" >
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img4.jpeg" width="100%"  style="max-height:180px" >
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img4.jpeg" width="100%"  style="max-height:180px" >
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img2.jpg" width="100%"  style="max-height:180px" >
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img3.jpg" width="100%"  style="max-height:180px" >
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img4.jpeg" width="100%"  style="max-height:180px" >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <i class="fas fa-chevron-left text-primary w3-xxlarge"></i>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <i class="fas fa-chevron-right text-primary w3-xxlarge"></i>
    </a>
  </div><br><br>

  <!-- Charity Slider -->
  <br>><br><h1 class="text-dark heading w3-center ">Charity</h1><br>
  <div id="demo1" class="carousel slide" data-ride="carousel">

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img4.jpeg" width="100%"  style="max-height:180px" >
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img2.jpg" width="100%"  style="max-height:180px" >
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img3.jpg" width="100%"  style="max-height:180px" >
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img4.jpeg" width="100%"  style="max-height:180px" >
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img4.jpeg" width="100%"  style="max-height:180px" >
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img2.jpg" width="100%"  style="max-height:180px" >
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img3.jpg" width="100%"  style="max-height:180px" >
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 w3-center  w3-padding">
              <img src="assets/img/img4.jpeg" width="100%"  style="max-height:180px" >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo1" data-slide="prev">
      <i class="fas fa-chevron-left text-primary w3-xxlarge"></i>
    </a>
    <a class="carousel-control-next" href="#demo1" data-slide="next">
      <i class="fas fa-chevron-right text-primary w3-xxlarge"></i>
    </a>
  </div><br><br>
       
  <app-home-graph></app-home-graph>

  <!-- Want Food modal -->
<div class="modal fade" id="wantFoodModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Want Food?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <label>Name</label>
          <input type="text" name="" class="form-control"><br>
          <label>Address</label><br>
          <textarea rows="3" cols="50" class="form-control"></textarea><br>
          <label>Mobile</label>
          <input type="number" name="" class="form-control"><br>
          <label>Requirement</label>
          <div class="form-inline">
            <input type="number" placeholder="Veg" style="width: 45%;" name="" class="form-control">
            <input type="number" placeholder="Non-Veg" style="width: 45%;margin-left: 20px;" name=""
              class="form-control">
          </div><br><br>
          <button class="btn btn-dark w3-wide" style="width: 30%;">SUBMIT</button>
          &nbsp;&nbsp;
          <a routerLink="/FoodStatus" class="close" data-dismiss="modal">Food Status</a>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="bg-dark" style="padding: 18px;">
        <label class="w3-text-white">&copy; Copyright Reserved Wastage Reduction</label>
      </div>

    </div>
  </div>
</div>

<!-- Donate Food -->
<div class="modal fade" id="donateFoodModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Donate Food?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

      </div>

      <!-- Modal footer -->
      <div class="bg-dark" style="padding: 18px;">
        <label class="w3-text-white">&copy; Copyright Reserved Wastage Reduction</label>
      </div>

    </div>
  </div>
</div>